@import 'reset.scss';
@import 'mixin.scss';
@font-face {
	font-family: 'dense';
	src: '../fonts/Dense-Regular.otf';
}

/******************************
	TABLE OF CONTENTS
		Structure
		Header
		Beta
		Classes
******************************/
h2 {
	font-size: 50px;
	display: inline-block;
	text-transform: uppercase;
}

input[type='file'] {
	display: none;
}

/* Structure */
html,
body {
	background: #78BBEF;
	font-family: 'dense', 'arial';
	letter-spacing: 4px;
	padding: 10px;
}

div#app-container {
}

header#app-header {
}



/* Header */
div.header-btn {
	background: white;
	border: 1px solid;
}

#log-btn {
	float: left;
}

#settings-btn {
	float: right;
}

#close-btn {
	float: right;
}


/* Beta */
.beta {
	min-height: 50px;
	border: 1px solid black;
	margin: 15px 0;
	video {
		display: none;
		width: 100%; height: 300px;
	}
}

.selected {
	video {
		display: block;
	}
}

.betaExpand-btn {
	background: red;
	padding: 5px;
	border: 1px solid black;
}

#problem-id-input {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
}

/* Classes */
.is-centered-width {
	margin: 0 auto;
	max-width: 500px;
}

.is-cleared:before,
.is-cleared:after {
	display: table;
	content: '',
}

.is-cleared:after {
	clear: both;
}

.primary-btn {
	background: white;
	border: 1px solid black;
	text-align: center;
}

.btn {
	box-sizing: border-box;
	font-size: 30px;
	padding: 5px;
	text-transform: uppercase;
	margin: 10px 0;
}


