@import 'reset.scss';
@import 'mixin.scss';
@font-face {
	font-family: 'dense';
	src: '../fonts/Dense-Regular.otf';
}
/******************************
	TABLE OF CONTENTS
		Structure
		Header
		Beta
		Classes

******************************/

/* Structure */
html,
body {
	background: #78BBEF;
	font-family: 'dense', 'arial';
}

div#app-container {
}

header#app-header {
}



/* Header */
div.header-btn {
	background: white;
	border: 1px solid;
}

#log-btn {
	float: left;
}

#settings-btn {
	float: right;
}

#close-btn {
	float: right;
}


/* Beta */
.beta {
	min-height: 50px;
	border: 1px solid black;
	video {
		display: none;
		width: 100%; height: 300px;
	}
}

.selected {
	video {
		display: block;
	}
}

.beta:hover {
	background: red;
	@include transition(1s ease);
}

.betaExpand-btn {
	background: red;
	padding: 5px;
	border: 1px solid black;
}

/* Classes */
.is-centered-width {
	margin: 0 auto;
	max-width: 500px;
}

.is-cleared:before,
.is-cleared:after {
	display: table;
	content: '',
}

.is-cleared:after {
	clear: both;
}

.primary-btn {
	background: white;
	border: 1px solid black;
	width: 100px;
}

.btn {
	font-size: 30px;
	text-transform: uppercase;
}


