/** 
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) 
* Richard Clark (http://richclarkdesign.com) * http://cssreset.com 
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: 'dense';
  src: '../fonts/Dense-Regular.otf'; }
/******************************
	TABLE OF CONTENTS
		Structure
		Header
		Beta
		Classes

******************************/
h2 {
  font-size: 50px;
  display: inline-block;
  text-transform: uppercase; }

/* Structure */
html,
body {
  background: #78BBEF;
  font-family: 'dense', 'arial';
  letter-spacing: 4px; }

/* Header */
div.header-btn {
  background: white;
  border: 1px solid; }

#log-btn {
  float: left; }

#settings-btn {
  float: right; }

#close-btn {
  float: right; }

/* Beta */
.beta {
  min-height: 50px;
  border: 1px solid black;
  margin: 15px 0; }
  .beta video {
    display: none;
    width: 100%;
    height: 300px; }

.selected video {
  display: block; }

.beta:hover {
  background: red;
  -webkit-transition: 1s ease;
  transition: 1s ease; }

.betaExpand-btn {
  background: red;
  padding: 5px;
  border: 1px solid black; }

#problem-id-input {
  box-sizing: border-box;
  padding: 5px;
  width: 100%; }

/* Classes */
.is-centered-width {
  margin: 0 auto;
  max-width: 500px; }

.is-cleared:before,
.is-cleared:after {
  display: table;
  content: ""; }

.is-cleared:after {
  clear: both; }

.primary-btn {
  background: white;
  border: 1px solid black;
  text-align: center; }

.btn {
  box-sizing: border-box;
  font-size: 30px;
  padding: 5px;
  text-transform: uppercase;
  margin: 10px 0; }

/*# sourceMappingURL=main.css.map */
