@import 'normalize.scss';
/******************************
	TABLE OF CONTENTS
		Structure

******************************/

/******************************
	STRUCTURE
******************************/
html,
body {
	
}

header#main-header {
	background: black;
	color: white;
}

div#app-container {
}

#new-session {
	width: 50%;
	li {
		border: 2px solid black;
		border-radius: 5px;
		height: 80px;
		margin: 5px;
		overflow: hidden;
		header {
			background: black;
			color: white;
			text-align: center;
		}
	}
	li:first-child {
		background: #FAFEF9;
	}

	li:nth-child(2) {
		background: #F3FE7C;
	}

	li:nth-child(3) {
		background: #FED14B;
	}

	li:nth-child(4) {
		background: #37AD38;
	}

	li:nth-child(5) {
		background: #3E9DFE;
	}

	li:nth-child(6) {
		background: #977BFE;
	}
}

.is-centered-width {
	margin: 0 auto;
	max-width: 1080px;
}