<header id='app-header' class='is-cleared'>
	<h2>Beta</h2>
	<a href='#'>
		<div id='close-btn' class='header-btn btn'>Close</div>
	</a>
</header>
<main id='app-main'>
	<input id='problem-id-input' type='text' name='Problem Id' placeholder='Problem Id'>
	<p id='beta-amber'></p>
	<a href='#betaList'>
		<div id='getBeta-btn' class='primary-btn btn' type='button'>Get Beta</div>
	</a>
	<% if (loggedIn === true) { %>
		<a href='#uploadBeta'>
			<div id='uploadBeta-btn' class='primary-btn btn' type='button'>Upload Beta</div>
		</a>
	<% } %>
</main>
<footer id='app-footer'>
		
</footer>



